{% extends "BigDataVisualization/header.html" %}
{%  block head %}
     <style>
        a:visited,a:active,a:hover,a:link{
            color: #333;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">

        <div class="starter-template">
            <h1>BigData Analytics Project</h1>
            <p class="lead">This project analyzes the NYC Taxi data.</p><br/>
            <label> Group Members</label>
            <br/>
            <div class="col col-md-4">
            </div>

            <div class="col col-md-4">
                <table class="table table-striped">
                    <tr>
                        <th style="text-align: center;">Name</th>
                        <th style="text-align: center;">NetId</th>
                    </tr>
                    <tr>
                        <td>Vaibhav Aggarwal</td>
                        <td>va771</td>
                    </tr>
                    <tr>
                        <td>Ginni Malik</td>
                        <td>gm1908</td>
                    </tr>
                </table>
            </div>
            <div class="col col-md-4">
            </div>
        </div>

    </div><!-- /.container -->
{% endblock %}
